/*
** Feature flag definitions.
**
** The Lua resource compiler has support for stripping based on feature flags.
** This file defines which feature flags are valid to use to catch typos.
** To use a flag, define it below and enclose code in a conditional group:
**
**   --IF_BEGIN DEBUG
**   Managers.mod:print("info", "Some debug code goes here")
**   --IF_END DEBUG
**
** The enclosed code will only be emitted if DEBUG is true.
** Feature flags can be enabled by setting the definition to true or by using
** the following compiler argument:
**     --lua-strip-tags DEBUG TAG2 ETC
**
*/

valid_tags = {
	// DEBUG = false
}
