artist_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
	
	frame_breakdown = {
		chart_max_time = 16
		show_remaining = false
		counters = [
			{ name = "G-Buffer" counters=["clears" "gbuffer"] budget=5 }
			{ name = "Shadow Casters" counters=["shadow mapping"] budget=2.5 }
			{ name = "Global Lighting" counters=["sun shadow mask" "global lighting"] budget=2 }	
			{ name = "Local Lighting" counters=["local_lights" "reflections probes"] budget=3 }
			{ name = "Emissive" counters=["emissive"] budget=1 }
			{ name = "Skydome" counters=["skydome"] budget=1 }
			{ name = "Transparency" counters=["hdr_transparent" "hdr_transparent_distortion" "clustered shading" "transparent" "stingray_debug"] budget=3 }
			{ name = "Post Processing" counters=["post_processing" "ssr" "ssao" "linearize_depth" "fog" "fxaa" "motion vectors"] budget=5 }
			{ name = "Scaleform Studio" counters=["scaleformstudio_plugin"] budget=1 }
			{ name = "Present" counters=["PRESENT"] budget=16 }
		]
	}	
}

network_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
}

lua_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
}
